* {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  background-image: url(../img/concrete-texture.png);
  /*Effet de scroll lorsqu'on clique sur une ancre mais ne marche que sur FireFox ou pas du tout
    scroll-behavior: smooth;*/
}
h1 {
  font-size: 45px;
  font-family: "Anton", sans-serif;
  color: #2980b9;
  text-align: center;
  letter-spacing: 1px;
}
h2 {
  font-size: 35px;
  color: #2c3e50;
  padding: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 2px #aaa;
}
h3 {
  font-size: 22px;
  color: #2c3e50;
  padding: 15px;
  text-shadow: 1px 1px 2px #aaa;
}
h4 {
  text-align: center;
  margin-top: 30px;
}

/**************HEADER INDEX****************/
header {
  background: #2c3e50;
  height: 175px;
}
#logo {
  float: left;
  width: 25%;
  padding: 15px;
  text-align: center;
}
#slogan {
  float: left;
  width: 50%;
  padding-top: 50px;
}
#social {
  float: left;
  width: 25%;
}
#social i {
  font-size: 30px;
  text-align: right;
  padding: 15px 30px 0 0;
  display: block;
}
header a {
  color: #2980b9;
  text-decoration: none;
}
/*******************FIN HEADER*********************/

/**************DEBUT NAV********************/
nav {
  background: #2980b9;
  height: 70px;
  border-bottom: 8px solid #6acafc;
  text-align: center;
  padding: 15px;
}
nav a {
  margin: 10px;
  padding: 2px 10px;
  border-radius: 10px 0px;
  border: 2px solid white;
  background: #6acafc;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-family: oswald;
  transition: 0.5s;
}
nav a:hover {
  background: #a6d6c3;
  color: white;
}
ul {
  display: flex;
  justify-content: center;
}
li {
  list-style-type: none;
}
.activ {
  background: #2c3e50;
  color: white;
}
/**************FIN NAV********************/
/*FAIRE LE ZONING AVEC DES HAUTEUR ET LARGEUR AVANT DE PLACER LES ELEMENTS DANS LES ZONES POUR ENSUITE SUPPRIMER LES HAUTEURS*/
main {
  background: rgba(178, 178, 178, 0.3);
  width: 1000px;
  margin: 0 auto;

  padding-bottom: 20px;
}
aside {
  height: 250px;
  background: #a6d6c3;
}
section {
  margin-top: 50px;
  /*    background: #DAF7A6;*/
  padding: 20px;
}
footer {
  background: #2980b9;
  height: 30px;
  text-align: right;
  padding: 5px 10px;
}

/*DEBUT PAGE ZONING*/
/* 1 */
.zoning1 {
  width: 80%;
  text-align: center;
  margin: auto;
}
.zoning1 h1,
p {
  text-align: left;
  padding-bottom: 4%;
}
.zoning1a {
  background-color: yellow;
  height: 70px;
}
.zoning1b {
  width: 20%;
  background-color: greenyellow;
  height: 500px;
}
.zoning1c {
  height: 500px;
  background-color: rgb(151, 195, 245);
  width: 80%;
}
.zoningflex {
  display: flex;
}
/* 2 */
.form2 {
  width: 80%;
  text-align: center;
  margin: auto;
}
.form2a {
  background-color: aliceblue;
  width: 100%;
  height: 70px;
}
.form2b {
  background-color: green;
  width: 20%;
  height: 500px;
}
.form2c {
  background-color: rgb(151, 195, 245);
  width: 60%;
  height: 500px;
}
.form2d {
  background-color: green;
  width: 20%;
  height: 500px;
}
.form2flex {
  display: flex;
}
/* 4 */
.form3 {
  width: 80%;
  text-align: center;
  margin: auto;
}
.zoning1b {
  background-color: green;
  width: 50%;
}
.zoning1c {
  background-color: aquamarine;
  width: 50%;
}
.zoningflex3 {
  display: flex;
}
.form3b {
  background-color: rgb(116, 116, 15);
  height: 70px;
  text-align: right;
}
/* 5 */

.form4 {
  width: 80%;
  text-align: center;
  margin: auto;
}
.header1 {
  background-color: aliceblue;
  height: 80px;
}
.nav1 {
  background-color: #6acafc;
  height: 70px;
  border-bottom: #2980b9 solid 10px;
}
.main1 {
  background-color: aquamarine;
  border: white solid 15px;
  height: 500px;
}
.footer1 {
  background-color: #2c3e50;
  height: 40px;
  text-align: right;
}
.container1 {
  border: solid black 1px;
}
/* .form4{
  width: 100%;
  text-align: center;
  margin: auto;
  height: 600%;
} */
.form5 {
}
.header2 {
  background-color: rgb(184, 157, 4);
  height: 80px;
}
.nav2 {
  background-color: #5c4d0b;
  height: 70px;
  border-bottom: #767734 solid 10px;
}
.main2 {
  border: white solid 15px;
  height: 500px;
  border: #f1a708 12px solid;
}
.footer2 {
  background-color: #2c3e50;
  height: 40px;
  text-align: right;
}
/* 5 */

.container2 {
  border: solid black 2px;
}
.flex5 {
  display: flex;
  height: 250px;
  background-color: rgb(218, 12, 12);
}
.zone1 {
  width: 50%;
  height: 100%;
  background-color: #6acafc;
}
.zone2 {
  width: 50%;
  height: 100%;
  background-color: #4e390c;
}
.zone3 {
  width: 50%;
  height: 100%;
  background-color: #fc6acb;
}
.zone4 {
  width: 50%;
  height: 100%;
  background-color: #6acafc;
}

.flex6 {
  display: flex;
  height: 230px;
  background-color: #4e390c;
  width: 80%;
}
.form5 {
  width: 80%;
  margin: auto;
}
/* 6 */

.form6 {
  width: 80%;
  margin: auto;
}
.form6a {
  display: flex;
  height: 100px;
}
.form6b {
  display: flex;
  height: 300px;
}
.form6a1 {
  height: 20%;
}
.form6a2 {
  height: 40%;
}
.form6a3 {
  height: 20%;
}
/* ********************LIEN ET MENU************************* */

.lien1 {
  display: flex;
}
.lien1 li {
  list-style-type: none;
  border-radius: 25px;
  background-color: #2c3e50;
  padding: 5px 10px;
  font-size: 20px;
  font-family: oswald;
  margin: 10px;
  box-shadow: 0px 0px 3px 3px green;
}
.lien1 li:hover {
  background-color: #6acafc;
}
.lien1 li > a:hover {
  font-size: 30px;
}

.lien1 a {
  text-decoration: none;
  color: white;
}
main h2 {
  text-align: left;
  color: black;
}
.lien2 {
  display: block;
  list-style-type: none;
  margin-left: 20px;
}
.lien2 a {
  text-decoration: none;
  color: #2980b9;
}
.lien2 a:hover {
  color: red;
}
.margine p {
  margin-left: 20px;
}
.margine a {
  color: #2980b9;
  text-decoration: none;
}

/* les menus */
.lien3 li {
  list-style-type: none;
  border-radius: 2px 11px 2px 11px;

  padding: 5px 10px;
  font-size: 20px;
  font-family: oswald;
  margin: 10px;
  box-shadow: 0px 0px 3px 3px rgba(238, 232, 232, 0.904);
}
.lien3 li:hover {
  background-color: #6acafc;
}
.lien3 li > a:hover {
  font-size: 30px;
}

.lien3 a {
  text-decoration: none;
  color: rgb(212, 201, 201);
}
main h2 {
  text-align: left;
  color: black;
}

/* lenus deroulant */
/* les menus */
.lien4 li {
  list-style-type: none;
  border-radius: 2px 11px 2px 11px;

  padding: 5px 10px;
  font-size: 20px;
  font-family: oswald;
  margin: 10px;
  box-shadow: 0px 0px 3px 3px rgba(238, 232, 232, 0.904);
}
.lien4 li:hover {
  background-color: #6acafc;
}
.lien3a p {
  padding-left: 40px;
}
.lien3 li > a:hover {
  font-size: 30px;
}
.lien4a p {
  padding-left: 4%;
}
.lien4 a {
  text-decoration: none;
  color: rgb(212, 201, 201);
}
main h2 {
  text-align: left;
  color: black;
}
.deroul1 {
  width: 80%;

  background-color: #8457ec;
  margin: auto;
}
/* LISTES */
/* list ul */
.listul {
  display: flex;
  justify-content: left;
  margin-left: 5px;
}

.listul li {
  padding: 30px;
  padding-left: 1px;
}
.listul i:hover {
  color: red;
  font-size: 22px;
}
/* list ol */
.listol {
  margin-left: 30px;
}
.listol > li {
  list-style-type: decimal;
}

/* Liste imbriquée */
.imbrique {
  display: block;
}
/* ............TABLE........... */
table {
  margin: auto;
  border-collapse: collapse;
  border: rgb(89, 137, 199) solid 2px;
  width: 90%;
  text-align: center;
}
tfooter,
th,
tr,
td {
  border-collapse: collapse;
  border: solid 2px rgb(89, 137, 199);
  width: 20%;
}
th,
tfoot {
  background-color: #8aa8c0;
  height: 30px;
}

.tableh1 {
  color: black;
  text-align: left;
  margin-left: 15px;
}
.avion {
  margin: 5px;
}
#logo {
  float: left;
  width: 25%;
  padding: 15px;
  text-align: center;
}

#logo {
  float: left;
  width: 25%;
  padding: 15px;
  text-align: center;
}

button {
  position: fixed;
  bottom: 40px;
  right: 20px;
  cursor: pointer;
  border: none;
  background: transparent;
  font-size: 350%;
  color: #2d737f;
}
/* multimédia */
.multimedia{
  margin: auto;
  width: 560px;
  padding: 0%;
  
}
.video{
  padding-bottom:0;
}
.iframe{
  padding-top: 0;
}
/* nvdvhdgdjk */
.display{
  width: 100%;
  display: flex;
 justify-content: space-around;
 align-items: center;


 
  height: 800px;

 
}
.c1{
  width: 200px;
  height: 200px;
  background-color: #f1a708;
  
}
.c2{
  width: 200px;
  height: 200px;
  background-color: #3308f1;
}
.containerx{
  position: relative;
}
.alin{
  position: absolute;
   width: 150px;
  height: 150px;
  background-color: red;
  border-radius: 50%;
  color: #3308f1;
  /* top:100px */
  /* bottom: 50px; */
}
.karima{
position: absolute;
   width: 150px;
  height: 150px;
  background-color: rgb(247, 0, 255);
  border-radius: 50%;
  
  bottom:1px;
  color: #3308f1;
}
  
  



/**************DEBUT ANIMATIONS*************/
/*****infoBulle*****/
.infoBulle{
    height: 250px;
    width: 500px;
    margin: auto;
    padding-top: 15px;
    background: #444;
    box-shadow: 10 0 50px #080808 inset/*inset permet l'effet à l'intérieur de l'élément*/
}
.infoBulle p{
    text-align: center;
    padding-top: 30px;
}
.infoBulle a{
    color: #ccc;
    text-shadow: 0 -2px 0 black;
    text-decoration: none;
    border-radius: 3px;
    padding: 5px 15px;
}
.infoBulle a:hover{
    text-shadow: 0 1px 2px black;
    background: rgba(0,0,0,.4);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .4);
    color: #fff;
}
.infoBulle a span{
    position: absolute;
    padding: 15px;
    margin-top: 23px;
    margin-left: -35px;
    background: rgba(0,0,0,.9);
    opacity: 0;
    color: #09c;
    transform: scale(0) rotateZ(-12deg);
    transition: .25s;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0,0,0,.5);
}
.infoBulle a:hover span{
    opacity: 1;
    transform: scale(1) rotateZ(0);
}
.infoBulle a span:before{
    content: '';
    position: absolute;
    top: -6px;
    left: 10px;
    border-bottom: 6px solid rgba(0,0,0,.9);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}

/*****image grayscale & blur*****/
.imgEffets{
    width: 320px;
    height: 320px;
    margin: 70px auto;
}
.imgEffets li{
    list-style: none;
    float: left;
    width: 141px;
    height: 150px;
    margin: 5px;
}
.imgEffets li:nth-child(3){
    clear: both;
}
.imgEffets img{
    position: absolute;
    z-index: 1;
    height: 150px;
    box-shadow: 0 0 3px black;
    /* cubic-bezier commence par 0 et se termine par 1 puis entre nous mettrons nos valeurs*/
    transition: .5s cubic-bezier(0,3,.4,1);
}
.imgEffets li:hover img{
    z-index: 2;
    /* Scale = zoom */
    transform: scale(1.5);
    box-shadow: 0 0 10px black;
}
.imgEffets:hover li:not(:hover) img{
    filter: grayscale(1) blur(5px);
}

/******Rotation d'un menu CSS3*******/
#menuRotate{
    height: 360px;
    width: 576px;
    margin: 100px auto;
    background: #627878;
    position: relative;
    overflow: hidden;
    border: 2px solid white;
}

#menuRotate .masque{
    position: absolute;
    z-index: 50;
    width: 585px;
    height: 135px;
    top: 0;
    left: 0;
    background:linear-gradient(#324040,#627878);
}

#menuRotate .ombre{
    position: absolute;
    z-index: 40;
    width: 300px;
    height: 6px;
    box-shadow: 0px 100px 3px black;
    border-radius: 75px 75px 75px 75px / 3px 3px 3px 3px; /*rayon horizontaux / Rayon verticaux*/
    top: 30px;
    left: 142px;
}

#menuRotate dl{
    position: relative;
    top: 0;
    left: 50%;
    margin-left: -75px;
    width: 150px;
    height: 155px;
    color: #324040;
    text-align: center;
    background: #04b3d2;
    border-radius: 4px;
    box-shadow: 0 0 6px rgba(0,0,0,0.7);
    transform-origin: 50% 120px;
    animation: bounceOut 0.7s ease-in-out;
}

#menuRotate dt{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 23px;
    padding-top: 5px;
}

#menuRotate dd{
    transform: rotate(180deg);
}

#menuRotate dd a{
    display: block;
    height: 24px;
    padding: 3px 0;
    color: #324040;
    text-decoration: none;
}

#menuRotate dd a:hover{
    background: rgba(255,255,255,0.1);
}

#menuRotate dl:hover{
    transform: rotate(-180deg);
    animation: bounceIn 0.7s ease-in-out;
}

@keyframes bounceIn{
    from{transform:rotate(0deg);}
    75%{transform:rotate(-200deg);}
    90%{transform:rotate(-175deg);}
    to{transform:rotate(-180deg);}
}

@keyframes bounceOut{
    from{transform:rotate(0deg);}
    0%{transform:rotate(-180deg);}
    10%{transform:rotate(-165deg);}
    to{transform:rotate(-360deg);}
}
/**************FIN ANIMATIONS***************/