* {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  background-image: url(../img/concrete-texture.png);
  /*Effet de scroll lorsqu'on clique sur une ancre mais ne marche que sur FireFox ou pas du tout
    scroll-behavior: smooth;*/
}
h1 {
  font-size: 45px;
  font-family: "Anton", sans-serif;
  color: #2980b9;
  text-align: center;
  letter-spacing: 1px;
}
h2 {
  font-size: 35px;
  color: #2c3e50;
  padding: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 2px #aaa;
}
h3 {
  font-size: 22px;
  color: #2c3e50;
  padding: 15px;
  text-shadow: 1px 1px 2px #aaa;
}
h4 {
  text-align: center;
  margin-top: 30px;
}

/**************HEADER INDEX****************/
header {
  background: #2c3e50;
  height: 175px;
}
#logo {
  float: left;
  width: 25%;
  padding: 15px;
  text-align: center;
}
#slogan {
  float: left;
  width: 50%;
  padding-top: 50px;
}
#social {
  float: left;
  width: 25%;
}
#social i {
  font-size: 30px;
  text-align: right;
  padding: 15px 30px 0 0;
  display: block;
}
header a {
  color: #2980b9;
  text-decoration: none;
}
/*******************FIN HEADER*********************/

/**************DEBUT NAV********************/
nav {
  background: #2980b9;
  height: 70px;
  border-bottom: 8px solid #6acafc;
  text-align: center;
  padding: 15px;
}
nav a {
  margin: 10px;
  padding: 2px 10px;
  border-radius: 10px 0px;
  border: 2px solid white;
  background: #6acafc;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-family: oswald;
  transition: 0.5s;
}
nav a:hover {
  background: #a6d6c3;
  color: white;
}
ul {
  display: flex;
  justify-content: center;
}
li {
  list-style-type: none;
}
.activ {
  background: #2c3e50;
  color: white;
}
/**************FIN NAV********************/
/*FAIRE LE ZONING AVEC DES HAUTEUR ET LARGEUR AVANT DE PLACER LES ELEMENTS DANS LES ZONES POUR ENSUITE SUPPRIMER LES HAUTEURS*/
main {
  background: rgba(178, 178, 178, 0.3);
  width: 1000px;
  margin: 0 auto;
}
aside {
  height: 250px;
  background: #a6d6c3;
}
section {
  margin-top: 50px;
  /*    background: #DAF7A6;*/
  padding: 20px;
}
footer {
  background: #2980b9;
  height: 30px;
  text-align: right;
  padding: 5px 10px;
}

/*DEBUT PAGE ZONING*/
/* 1 */
.zoning1 {
  width: 80%;
  text-align: center;
  margin: auto;
}
.zoning1 h1,
p {
  text-align: left;
  padding-bottom: 4%;
}
.zoning1a {
  background-color: yellow;
  height: 70px;
}
.zoning1b {
  width: 20%;
  background-color: greenyellow;
  height: 500px;
}
.zoning1c {
  height: 500px;
  background-color: rgb(151, 195, 245);
  width: 80%;
}
.zoningflex {
  display: flex;
}
/* 2 */
.form2 {
  width: 80%;
  text-align: center;
  margin: auto;
}
.form2a {
  background-color: aliceblue;
  width: 100%;
  height: 70px;
}
.form2b {
  background-color: green;
  width: 20%;
  height: 500px;
}
.form2c {
  background-color: rgb(151, 195, 245);
  width: 60%;
  height: 500px;
}
.form2d {
  background-color: green;
  width: 20%;
  height: 500px;
}
.form2flex {
  display: flex;
}
/* 4 */
.form3 {
  width: 80%;
  text-align: center;
  margin: auto;
}
.zoning1b {
  background-color: green;
  width: 50%;
}
.zoning1c {
  background-color: aquamarine;
  width: 50%;
}
.zoningflex3 {
  display: flex;
}
.form3b {
  background-color: rgb(116, 116, 15);
  height: 70px;
  text-align: right;
}
/* 5 */

.form4{
  width: 80%;
  text-align: center;
  margin: auto;
  
}
.header1{
  background-color: aliceblue;
  height: 80px;
}
.nav1{
  background-color: #6acafc;
  height: 70px;
  border-bottom: #2980b9 solid 10px;
} .main1{
  background-color: aquamarine;
  border: white solid 15px;
  height: 500px;
}
.footer1{
  background-color: #2c3e50;
  height: 40px;
  text-align: right;
}
.container1{
  border: solid black 1px;
}
/* .form4{
  width: 100%;
  text-align: center;
  margin: auto;
  height: 600%;
} */
.form5{

}
.header2{
  background-color: rgb(184, 157, 4);
  height: 80px;
 

}
.nav2{
background-color: #5c4d0b;
  height: 70px;
  border-bottom: #767734 solid 10px;
}
.main2{

  border: white solid 15px;
  height: 500px;
  border: #f1a708 12px solid;
}
.footer2{
 background-color: #2c3e50;
  height: 40px;
  text-align: right;
}
.container2{
  border: solid #f1a708 1px;
  width: 80px;
  
}
.flex5{
  display: flex;
  height: 250px;
  background-color: rgb(218, 12, 12);
}
.zone1{
  width: 50%;
  height: 100%;
  background-color: #6acafc;

}
.zone2{
width: 50%;
  height: 100%;
 background-color: #4e390c;
}
.zone3{
width: 50%;
  height: 100%;
  background-color: #fc6acb;
}
.zone4{
width: 50%;
  height: 100%;
 background-color: #6acafc;
}

.flex6{
display: flex;
  height: 230px;
 background-color: #4e390c;
}